div#user_container
  margin-top: 30px
  display: flex
  justify-content: center
  div#user_info
    padding: 30px
    padding-top: 20px
    margin-left: 20px
    background-color: #9caaff
    h3
      font: 25px sans-serif

      margin-bottom: 15px
    h4
      font: 16px sans-serif
      margin-bottom: 5px
    div
      display: flex
      a
        margin-right: 5px
        margin-top: 10px